build/Slate.build
build/Release/Slate.app.dSYM
Slate.xcodeproj/jigish.mode1v3
Slate.xcodeproj/jigish.pbxuser
Slate.xcodeproj/project.xcworkspace/xcuserdata/jigish.xcuserdatad/
Slate.xcodeproj/xcuserdata/jigish.xcuserdatad/
